* {
		box-sizing: border-box;
}

body, html {
		padding: 0;
		margin: 0;
		height: 100%;
}

body {
		font-family: sans-serif;
		color: #fff;
		position: relative;
		height: 100%;
		background-image: linear-gradient(rgba(255, 241, 236, 1) 60%, rgba(253, 150, 226, .5) 100%);
}

body::after {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		z-index: -99;
		width: 100%;
		height: 100%;
		opacity: .4;
		filter: blur(25px);
		-webkit-filter: blur(25px);
		background: center no-repeat;
		background-image: linear-gradient(rgba(255, 241, 236, .7) 60%, rgba(253, 150, 226, .5) 100%), url('/images/bg.jpg');
		background-size: cover;
		background-blend-mode: overlay;
}

#droplet {
    width: 50px;
    display: inline-block;
    margin-right: 12px;
    float: left;
}

.message {
		position: absolute;
		width: 500px;
    height: 64px;
		text-align: center;
		top: 50%;
		left: 50%;
		margin-left: -250px;
    margin-top: -32px;
    line-height: 0;
}

.message h1 {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 64px;
    float: left;
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 36px;
}

.message img {
    height: 100%;
    display: inline-block;
    float: left;
}
